/*
 * Add your CSS styles to this file.
 */

/* general rules */
html * {
  font-family: Roboto;
  /* font-weight: normal; */
}
body {
  background-color: #eeeeee;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
/* end general rules */

 /* Title stlying */
 h1 {
   padding: 10px 16px;
 }
.site-title {
  /* padding: 11px 20px; */
  display: inline-block;
  position: relative;
  height: 40px;
  margin: 0px;
  background-color: #319df6;
  color: white;
  width: 100vw;
  }

  /* end title styling */

 /* nav bar styling */
 .navbar {
   display: inline-block;
   justify-content: space-between;
   height: 44px;
   padding-left: 10px;
   padding-right: 20px;
   overflow: hidden;
   /* height: 46px; */
   /* margin: 0px;
   padding: 0px; */
   color: black;
   background-color: white;
   font-weight: bolder;
   width: 100vw;
 }
 .navbar li {
   width: auto;
   display: inline-block;
   top: 50%;
   color: black;
   font-weight: bolder;
  }

 .navbar li a {
   /* width: 100vw; */
   color: black;
   font-weight: bolder;
   padding: 18px;
   text-decoration: none;
   position: relative;
   /* top: 0% */
 }
 .navbar li a:hover {
   color: #51b1f9;
 }

 .navbar .navlink {
   text-align: left;
 }

 .navbar .active {
   border-bottom: 3px solid #51b1f9;
   padding-bottom: 6px;
 }

 .navbar .navbar-search {
   float: right;
 }

 .navbar-search input {
   border: 1px;
   border-style: solid;
   background-color: #eeeeee;
   border-color: #dadada;
   border-radius: 2px;
   font-weight: bolder;
 }
 .navbar-search button {
   background-color: white;
   border: none;
 }
 .navbar-search button:hover {
   color: #51b1f9;
 }
 .navlist {
   /* width: 100%; */
   padding-left: 12px;
 }
 .navitem {

 }
 #navbar-search-input {
   background-color: #eeeeee;
   outline-color: #dadada;
 }
 #navbar-search-button {
   background-color: none;
 }

/* end nav bar styling */

/* Twit styling */
.twit-container {
  display: inline-flex;
  flex-flow: row wrap;
  /* justify: center; */
  justify-content: flex-start;
  text-align: top;
  background-color: #eeeeee;
  padding: 20px 40px;
 }
 .twit {
   /* display: inline-block; */
   width: 300px;
   background-color: white;
   border: 1px;
   border-style: solid;
   border-color: #dadada;
   border-radius: 2px;
   margin: 4px;
   padding: 12px;
 }
 .twit-icon {
   font-size: 20px;
   text-align: top;
 }
.twit-content {

}
.twit-text {
  align-items: flex-start;
}
.twit-author a{
  float: right;
  color: black;
  font-weight: bolder;
}
.twit-author a:hover {
   color: #51b1f9;
}
#create-twit-button {
  border: none;
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 12px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  position: fixed;
  bottom: 24px;
  right: 24px;
  box-shadow: 4px 6px 4px #d2cccd;
}
#create-twit-button:hover {
  background-color: #51b1f9;
  color: white;
  padding: 12px;
  bottom: 22px;
  right: 22px;
  font-size: 28px;
}
/* end Twit styling */
